<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900095335910-gkffjmjd457fpi8nkhkui6qk81qjnmbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900095335910-gkffjmjd457fpi8nkhkui6qk81qjnmbp</string>
	<key>API_KEY</key>
	<string>AIzaSyBmL4HZ59JXEEkFlRl9y0Ak-VHUwNE7xXY</string>
	<key>GCM_SENDER_ID</key>
	<string>900095335910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sashkyn.kekable</string>
	<key>PROJECT_ID</key>
	<string>keklist-881d8</string>
	<key>STORAGE_BUCKET</key>
	<string>keklist-881d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900095335910:ios:24e66b64270884dbd7ca27</string>
</dict>
</plist>